
@font-face
{
	fontFamily: Helvetica;
	src: url("/System/Library/Fonts/Helvetica.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Helvetica;
	fontWeight: bold;
	src: url("/System/Library/Fonts/Helvetica.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Helvetica Neue";
	src: url("/System/Library/Fonts/HelveticaNeue.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Helvetica Neue";
	fontWeight: bold;
	src: url("/System/Library/Fonts/HelveticaNeue.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Rockwell;
	src: url("/Library/Fonts/Microsoft/Rockwell");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Rockwell;
	fontWeight: bold;
	src: url("/Library/Fonts/Microsoft/Rockwell");
	embedAsCFF: true;
}








