
@font-face
{
	fontFamily: Helvetica;
	src: url("assets/fonts/Helvetica.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Helvetica;
	fontWeight: bold;
	src: url("assets/fonts/Helvetica.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Helvetica Neue";
	src: url("assets/fonts/HelveticaNeue.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Helvetica Neue";
	fontWeight: bold;
	src: url("assets/fonts/HelveticaNeue.dfont");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Rockwell;
	src: url("assets/fonts/Rockwell");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Rockwell;
	fontWeight: bold;
	src: url("assets/fonts/Rockwell");
	embedAsCFF: true;
}








